/*
 * index.css
 */

/* 某些 js 所需样式 */
.headroom {
  will-change: transform;
  transition: transform 200ms cubic-bezier(1, 0.22, 0, 0.84);
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(calc(100% + 10px));
}

/* 背景样式 */

body {
  width: 100%;
  height: 100%;
  background: url(https://api.leafone.cn/api/bing) no-repeat center center fixed;
  z-index: -1;
  -moz-background-size: cover;
  /*背景图片拉伸以铺满全屏*/
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Inter", sans-serif;
  overflow: auto;
  /* 禁止选中 */
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* 卡片总体样式 */
.card {
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(5px);
  z-index: 10000;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, left 0.25s, opacity 0.25s, top 0.25s, width 0.25s, height 0.25s;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/* 介绍卡片样式 */
.card.card-intro {
  /* flex 布局居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  width: 40%;
  min-height: 400px;
}

/* 核心内容布局 */

:root {
  /* --gray-bg: #fbfbfb; */
  --gray: #707070;
  --gray-dark: #383838;
  --note-green: #3f6600;
  --github-purple: #6e34da;
  --qq-light-blue: #1890ff;
  --tg-blue: #30a3e6;
  --link-blue: #2f54eb;
}

body,
.p-1 {
  flex-direction: column;
}

body,
.page {
  display: flex;
  margin: 0;
  background-color: var(--gray-bg);
}

.page {
  min-height: 100vh;
}

/* 第一页样式 */

.p-1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

span,
p {
  color: var(--gray-dark);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 150px;
  width: auto;
}

.logo span {
  margin: 3px;
  font-size: 24px;
  color: var(--gray-dark);
  font-weight: 900;
}

.contact {
  display: flex;
}

.contact a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.384);
}

.contact a {
  background-color: rgb(205, 217, 191, 0);
  padding: 15px;
  border-radius: 25px;
  transition: .25s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.contact a:hover {
  background-color: rgba(205, 217, 191, 0.8);
  transition: .25s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.fixed-navigationbar {
  position: fixed;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  bottom: 10px;
  z-index: 10001;
}

.contact-card {
  /* flex 布局居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.55);
  z-index: 10001;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, left 0.25s, opacity 0.25s, top 0.25s, width 0.25s, height 0.25s;
  pointer-events: all;
}

.svglogo {
  width: 40px;
}

a.github {
  color: var(--github-purple);
  margin: 0px 10px;
  line-height: 40px;
}

a.qq {
  color: var(--qq-light-blue);
  margin: 0px 10px;
  line-height: 40px;
}

a.telegram {
  color: var(--tg-blue);
  margin: 0px 10px;
  line-height: 40px;
}

.bio {
  line-height: 30px;
  height: 30px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.bio p,
.bio span {
  margin: 0 10px;
  font-size: 22px;
  color: var(--note-green);
  font-weight: 600;
}

.bio-text {
  display: inline-block;
  position: relative;
}

.bio-text::after {
  content: " ";
  position: absolute;
  right: -6px;
  top: 5px;
  height: 22px;
  width: 3px;
  animation: insert 1s steps(1) infinite;
}

@keyframes insert {

  0%,
  100% {
    background-color: var(--gray);
  }

  50% {
    background-color: transparent;
  }
}

.textcolor-gray {
  color: var(--gray-dark);
}

/* 第二页样式 */

.p-2 {
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  background-color: transparent;

}
/* 操作栏 */
.p-2-actionbar {
  padding-top: 22px;
  height: 30px;
  width: 100%;
}

.actionbar {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  width: 100px;
  min-width: 100px;
  max-width: 50%;
  border-radius: 5px;
}

.glass-card-background {
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(5px);
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card.card-member {
  background-color: transparent;
  backdrop-filter: blur(0px);
  max-width: 1440px;
  max-height: 80vh;
  width: 80vw;
  overflow: auto;
  z-index: 3;
  border-radius: 0;
  padding-top: 10px;
  box-shadow: none;
}

.card-member-list {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card.card-member::-webkit-scrollbar {
  /* 滚动条整体 */
  width: 10px;
  border-radius: 5px;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.card.card-member::-webkit-scrollbar-track {
  /* 滚动条轨道 */
  background-color: rgba(204, 204, 204, 0);
  border-radius: 10px;
  margin: 10px;
}

.card.card-member::-webkit-scrollbar-thumb {
  /* 滚动条里面的滑块 */
  background-color: rgba(113, 113, 113, 0.6);
  border-radius: 10px;

}

.card.card-member::-webkit-scrollbar-thumb:hover {
  background-color: rgba(113, 113, 113);
}

.card-member-item img {
  width: 100%;
}

.card-member-item {
  margin: 15px 0;
  width: 400px;
}

.card-member-desc {
  text-align: center;
}

.card-member-desc a {
  text-decoration: none;
  color: var(--link-blue)
}