/*
 * index.css
 */

/* 某些 js 所需样式 */
.headroom {
  will-change: transform;
  transition: transform 200ms cubic-bezier(1, 0.22, 0, 0.84);
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(calc(100% + 10px));
}