/*
 * index.css
 */

/* 某些 js 所需样式 */
.headroom {
  will-change: transform;
  transition: transform 200ms cubic-bezier(1, 0.22, 0, 0.84);
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(calc(100% + 10px));
}

/* 背景样式 */

body {
  width: 100%;
  height: 100%;
  background: url(https://api.leafone.cn/api/bing) no-repeat center center fixed;
  z-index: -1;
  -moz-background-size: cover;
  /*背景图片拉伸以铺满全屏*/
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Inter", sans-serif;
  overflow: auto;
  /* 禁止选中 */
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* 卡片总体样式 */
.card {
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(5px);
  z-index: 10000;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, left 0.25s, opacity 0.25s, top 0.25s, width 0.25s, height 0.25s;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/* 介绍卡片样式 */
.card.card-intro {
  /* flex 布局居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  width: 40%;
  min-height: 400px;
}

/* 核心内容布局 */

:root {
  /* --gray-bg: #fbfbfb; */
  --gray: #707070;
  --gray-dark: #383838;
  --note-green: #3f6600;
  --github-purple: #6e34da;
  --qq-light-blue: #1890ff;
  --tg-blue: #30a3e6;
  --link-blue: #2f54eb;
}

body,
.p-1 {
  flex-direction: column;
}

body,
.page {
  display: flex;
  margin: 0;
  background-color: var(--gray-bg);
}

.page {
  min-height: 100vh;
}